.Footer{
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 15vh;
}

.Footer span{
    color: white;
}